<template>
  <footer class="w-100">
    <p class="pt-3">Copyright &copy; 2021 <a href="/">DevFast</a></p>
  </footer>
</template>

<style>
footer {
  width: 100px;
  height: 60px;
  background-color: #494E53;
}

footer p,a {
  text-decoration: none;
  font-size: 18px;
  margin: 0;
}

</style>
