* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

header {
    width: 100%;
    height: 65px;
    background-color: #044863;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.search {
    width: 100%;
    height: 20px;
}

.search i {
    font-size: 1.5rem;
    margin-left: 120px;
    color: #fff;
    padding: 0;
    display: block;
    margin-top: 20px;
    cursor: pointer;
}

.btns {
    display: inline-block;
    width: 30%;
    margin-left: 120px;
    padding-left: 85px;
}

.btns a img {
    margin-top: 15px;
    margin-right: 20px;
    width: 125px;
    height: 37px;
}

.logo {
    display: inline-block;
    width: 60%;
    padding-left: 390px;
}

.logo a img {
    width: 150px;
    height: 50px;
    margin-top: 7px;
}

.margin-t {
    padding: 0;
    margin-top: 65px;
}

.menu {
    height: 2574px;
    width: auto;
    background-color: #2A2F33;
    padding: 0 !important;
}

.nav li {
    height: 50px;
    border-bottom: 1px solid rgb(58, 56, 58);
}

.nav li:hover {
    background-color: #fb474a;
    cursor: pointer;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 14px;
    margin-left: 40px;
}

.main {
    background-color: #EDEFF0;
    height: auto;
}
.main-page-header {
    width: 1110px;
    height: auto;
    margin-left: 80px;
    margin-top: 145px;
}

.footer {
    margin-top: 80px;
    width: 100%;
    height: 105px;
    background-color: #FFFFFF;
    margin-left: 0;
}

.footer p {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.footer a {
    color: #000;
    margin-left: 10px;
}

.footer a:hover {
    color: rgb(27, 47, 226);
}

/* //////////////////////// */
.card-right {
    width: 340px;
}

.item-card-right {
    width: 340px;
}

.item-card-right img {
    width: 340px;
    height: 203px;
    cursor: pointer;
}

.card-thumbnail {
    width: 728px;
    height: 442px;
}

.card-thumbnail img {
    width: 728px;
    height: 442px;
    cursor: pointer;
}

.title-thumbnail {
    position: absolute;
    bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF;
    font-size: 20px;
}

.text-webkit {
    display: -webkit-box;
    -webkit-line-clamp: 2;     
    -webkit-box-orient: vertical;     
    overflow: hidden;     
    text-overflow: ellipsis;
    z-index: 2;
}

.img-effect {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 0;
    background-color: #32302d6b;
    z-index: 1;
}


.viewed {
    width: 50px;
    height: 30px;
    background-color: #0FB3F3;
    position: absolute;
    top : 0;
    right: 0px;
    text-align: center;
    color: #FFFFFF;
}

.viewed i {
    display: inline-block;
    padding-top: 8px;
}


.main-page-header h1 {
    text-transform: uppercase;
    display: inline-block !important;
    border-bottom: 3px solid #E14A3F;
    padding-bottom: 8px;
    font-size: 30px;
    margin-bottom: 10px;
}

.main-page-header .title-head {
    display: inline-block !important;
    font-size: 28px;
    margin-left: 15px;
}

.main-body {
    margin-top: 100px;
}

.card-item:hover {
    box-shadow: 5px 5px 5px 5px #888888;
    opacity: 80%;
    cursor: pointer;
} 

.list-card-right .item-card-sidebar:hover {
    box-shadow: 5px 5px 5px 5px #888888;
    opacity: 80%;
    cursor: pointer;
}

.card-list {
    width: 820px;
}

.card-body {
    width: 245px;
}
.card-body p {
    opacity: 60%;
}

.card-list .card-item{
    width: 245px;
    margin: 0;
    padding: 0;
}

.footer-card .p-left {
    display: inline-block;
    margin-left: 90px;
}

.right {
    width: 254px;
}
.right .right-content{
    width: 254px;
    padding: 42px 0px 0px 28px;
    background-color: #FFFFFF;
}

.right .title-right {
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
    border-bottom: 3px solid #E14A3F;
}


.list-card-right .item-card-sidebar {
    margin-bottom: 40px;
    width: 200px;
}

.list-card-right img {
    width: 200px;
    height: 120px;
}

.item-card-sidebar p {
    font-size: 14px;
    position: absolute;
    bottom: -10px;
    left: 7px;
    z-index: 1;
    color: #FFFFFF;
}

.viewed-card {
    top : 132px;;
    right: 0;
}
