<template>
  <div class="list-post">
    <div v-if="listPost" class="card mt-3">
      <div class="card-header title">List Blog</div>
      <div class="card-body m-0 p-0">
        <div v-if="statusAlert" class="alert alert-success mt-2 ml-2" role="alert">
          <span class="d-inline-block w-100 text-center">Xóa thành công bài Post!</span>
        </div>
        <table class="table table-bordered w-100 text-center">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên</th>
            <th scope="col">Loại</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Vị trí</th>
            <th scope="col">Ngày public</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="post in listPost" :key="post.id">
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.category | convertCategory }}</td>
            <td>{{ post.public ? 'Yes' : 'No' }}</td>
            <td>{{ post.position | convertPositon}}</td>
            <td>{{ post.data_pubblic }}</td>
            <td><nuxt-link type="button" class="btn btn-outline-primary" :to="'/blog/' + post.id">Edit</nuxt-link></td>
            <td><button type="button" class="btn btn-outline-danger" @click="handleDelete(post.id)">Delete</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import {LIST_CATEGORY, LIST_POSITION, BASE_URL} from '~/constants/constans.js'
export default {
  filters: {
    convertCategory(categoryId) {
      const category = LIST_CATEGORY.find(cate => cate.categoryId === categoryId);
      return category.name;
    },

    convertPositon(arrayPosition) {
      const listPosition = [];
      arrayPosition.forEach(position => {
        listPosition.push(LIST_POSITION.find(posi => posi.positionId === position).positionName);
      });

      return listPosition.join(', ');
    }
  },

  props: {
    listPost : {
      type : Array,
      default : () => []
    }
  },
  
  data() {
    return {
      statusAlert : false
    }
  },

  //Delete Data
  methods: {
    async handleDelete(postId) {
      if(confirm(`Bạn muốn xóa bài ${postId} ?`))
      {
        await axios.delete(`${BASE_URL}/posts/${postId}`)
          .then(() => {
            this.$emit('on-delete');
            this.statusAlert = true;
            setTimeout(() => {this.statusAlert = false}, 2000);
            window.scrollTo(0, 0);
          })
          .catch(error => alert(error))
      }

    }
  }
}
</script>

<style>
.btn-search {
  width: 80px;
  height: 35px;
  margin: auto;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

</style>
