<template>
  <div class="container-fluid m-0 p-0">
    <AppHeader />
    <div class="row m-0 p-0">
      <div class="col-md-2 m-0 p-0 menu">
        <AppMenu />
      </div>
      <div class="col-md-10 body">
        <div class="main">
          <nuxt />
        </div>
      </div>
    </div>
    <AppFooter />
  </div>
</template>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.menu {
  border-right: 1px solid #000;
}

.body {
  background-color: #E4E5E6;
}

.main {
  width: 1215px;
  height: auto;
  margin: 20px 15px;
}
</style>
