<template>
    <div>
        <BlogCreateEdit>New Blog</BlogCreateEdit>
    </div>
</template>

<script>
import BlogCreateEdit from "~/components/blog/BlogCreateEdit.vue"
export default {
    components: {
        BlogCreateEdit
    }
}
</script>