<template>
    <div>
        <BlogSearchForm @on-search="getPost($event)" />
        <BlogList v-if="listPost.length > 0" :list-post="listPost" @on-delete="getPost()" />
        <div v-else class="alert alert-danger mt-2" role="alert">
            <span class="d-block text-center">Không có bài Post nào!</span>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import BlogSearchForm from "~/components/blog/BlogSearchForm.vue"
import BlogList from "~/components/blog/BlogList.vue"
import {BASE_URL} from '~/constants/constans.js';
export default {

    components: {
        BlogSearchForm,
        BlogList
    },

  data() {
    return {
      listPost : []
    }
  },

  mounted() {
    this.getPost();
  },
  
  methods: {

    getPost(keySearch = '') {

      if(keySearch === '')
      {
        axios
        .get(`${BASE_URL}/posts`)
        .then(response => (this.listPost = response.data))
        .catch(error => alert(error))
      }else
      {
        axios
        .get(`${BASE_URL}/posts?title_like=${keySearch}`)
        .then(response => (this.listPost = response.data))
        .catch(error => alert(error))
      }
    }
  }
}
</script>
